body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0px;
}

.recipe-list-recipe {
  padding-bottom: 15px;
}

.section {
  margin-bottom: 15px;
}

.recipe-list {
  margin-left: -25px;
}
